@font-face {
    font-family: 'Gotham Ultra';
    src: url('./fonts/Gotham-Ultra.eot');
    src: url('./fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gotham-Ultra.woff2') format('woff2'),
        url('./fonts/Gotham-Ultra.woff') format('woff'),
        url('./fonts/Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('./fonts/Gotham-Light.eot');
    src: url('./fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gotham-Light.woff2') format('woff2'),
        url('./fonts/Gotham-Light.woff') format('woff'),
        url('./fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Thin';
    src: url('./fonts/Gotham-Thin.eot');
    src: url('./fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gotham-Thin.woff2') format('woff2'),
        url('Gotham-Thin.woff') format('woff'),
        url('./fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('./fonts/Gotham-Black.eot');
    src: url('./fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gotham-Black.woff2') format('woff2'),
        url('./fonts/Gotham-Black.woff') format('woff'),
        url('./fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('./fonts/Gotham-Book.eot');
    src: url('./fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Gotham-Book.woff2') format('woff2'),
        url('./fonts/Gotham-Book.woff') format('woff'),
        url('./fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Gotham Book';
}
.text-brand{
    color: #2A70E6 !important;
}
.text-brand-dark{
    color: #0045BA !important;
}
.info-fw-bold{
    font-family: 'Gotham Black';
    font-weight: 700;
}

/* Navbar */

.navbar-nav li:not(:last-child){
    margin-right: 20px;
}

/* Hero */
.hero{
    position: relative;
    padding: 50px 0;
    z-index: 0;
}
.bg-hero-element{
    position: absolute;
    width: 100%;
    right: 0;
    top: -100%;
    z-index: -1;
}

/* Info */
.info{
    padding: 50px 0;
}
.bg-hero-element-01{
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}
.bg-hero-element-02{
    position: absolute;
    width: 100%;
    right: 0;
    top: -50%;
    z-index: -1;
}
.info-bg-dark{
    background-color: #0045BA !important;
}
.info-bg-light{
    background-color: #497ED8 !important;
}

.hero-content .demo-btn{
    background-color: #497ED8;
    border: 1px solid #497ED8;
}